@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: normal;
   font-style: normal;
   font-variation-settings: "wdth" 100;
}

.container {
	max-width: 100%;
}

/* header */
.header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #222222;
	padding-left: 20px;
	padding-right: 20px;
}

.logo {
	width: 20px;
	height: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.menu {
	width: 30%;
	margin-top: auto;
	margin-bottom: auto;
}

.menu-list{
	display: flex;
	justify-content: space-between;
	color: #fff;
	list-style: none;
}

/* hero */
.hero {
	height: 862px;
	background: #222222;
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	color: #fff;
}

/* hero: вертикальтная строка */
.hero-sidebar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	writing-mode: sideways-lr;
	text-orientation: mixed;
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
}

.hero-sidebar-text {
	margin: 0;
	text-align: center;
	letter-spacing: 1px;
}

.hero-sidebar-line {
	width: 1px;
	height: 60%;
	background-color: #fff;
	margin: 12px 0;
}

/* hero: контент */
.hero-content-stat {
	display: flex;
	justify-content: space-around;
}

.hero-content-stat-num {
	font-size: 54px;
	margin: 0;
}

.hero-content-stat-clients {
font-size: 24px;
}

.hero-content-stat-sessions {
font-size: 24px;
}


.hero-third-img {
	width: 220px;
	height: 220px;
}

.hero-four-img { 
	width: 280px;
	height: 374px;
}

